#header-scroll {
    transition: .3s all ease-in-out;
    padding: 1rem 0;
}

#header-scroll.sticky {
    position: fixed;

    width: 100%;
    background-color: rgb(44, 43, 43);

    padding: .5rem 0
}


#overlayer {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1999;
    background: rgba(51, 51, 51, 0.7);
}

.modal-menu {
    width: 300px;
    height: 100vh;

    position: fixed;
    right: 0;
    z-index: 2000;

    padding: 3.3rem 2rem;
    background-color: #fff;

    transform: translateX(110%);

    box-shadow: -10px 0 20px -10px rgb(0 0 0 / 10%);
    transition: .3s all ease-in-out;
}

.modal-menu .modal-menu-header .modal-menu-close span {
    font-size: 30px;

    display: inline-block;

    padding-left: 10px;

    line-height: 1;
    cursor: pointer;
    transition: .3s all ease;
}

.modal-menu .modal-menu-header {
    width: 100%;
    float: left;
    padding: 0 10px;
}

.modal-menu .modal-menu-header .modal-menu-close {
    margin-top: 8px;

    color: #363a3d;
    font-weight: 500;

    float: right;
}

.modal-menu .modal-menu-body {
    position: relative;

    height: calc(100vh - 52px);
}

.site-nav-wrap {
    margin: 4rem auto;
}

.modal-menu .site-nav-wrap>ul>li {
    display: block;
    position: relative;
    line-height: 2;
    width: 100%;
}

.modal-menu .site-nav-wrap a {
    padding: 10px 20px;

    display: block;
    position: relative;

    color: #212529;
    font-size: 20px;
}

.row-menu-hamburger {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a.active{
    color: rgb(0, 158, 250) !important;
}
